<img class="d-block w-100" src="/assets/login_bg.png" alt="Second slide">
<div class="centered1 font">

<div style='margin-bottom:40px; border-bottom:2px solid grey'>
  <p style='font-size: 27px'><strong>Sign up</strong></p>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '이메일', style: 'width: 300px; height: 40px; margin-bottom: 7px;' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: '비밀번호', style: 'width: 300px; height: 40px; margin-bottom: 7px;' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: '비밀번호 확인', style: 'width: 300px; height: 40px; margin-bottom: 7px;' %>
  </div>

  <div class="field">
    <%= f.text_field :name, placeholder: '이름', style: 'width: 300px; height: 40px; margin-bottom:50px'%>
  </div>
  
  <div class="actions">
    <%= f.submit "회원가입", class:'box', style: 'color: white; background-color: #75000F' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>