
<div id="toggle" class="mlr-10 mt-10">
    

    <div>
        <h1 id="toggle-form">1기</h1>
        <div class="text-center hide-item" id = "toggle-item">
            <table class="table" style="float: left; width: 50%;">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>major</th>
                    </tr>
                </thead>  

                <tbody>
                <% i = 1 %>
                <% @members.each do |member|%>
                    <tr id = "<%= member.id%>">
                        <td><%=i%></td>
                        <td name="aaa"><%= member.name%></td>
                        <td><%= member.major %></td>
                    </tr>
                    <%i+=1%>
                    <script>
                    $("#toggle").on("click", "#<%=member.id%>", function() {
        
                        $("#result").html("<img src='<%=member.image%>'><p>이름 : <%=member.name%></p><p>학과 : <%=member.major%></p>")
                    })
                    </script>    
                <%end%>
                    </tr>    
                </tbody> 
            </table>
            <div class=" text-center " style="font-size: 30px; float: right; width: 50%; height: 500px; ">
                <p id="result"> 
            </div>
        
        </div>

    </div>
    <br>
    <div>
        <h1 id="toggle-form">2기</h1>
        <div class="text-center hide-item" id = "toggle-item">
            <table class="table" style="float: left; width: 50%;">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>major</th>
                    </tr>
                </thead>  

                <tbody>
                <% i = 1 %>
                <% @members.each do |member|%>
                    <tr id = "<%= member.id%>">
                        <td><%=i%></td>
                        <td name="aaa"><%= member.name%></td>
                        <td><%= member.major %></td>
                    </tr>
                    <%i+=1%>
                    <script>
                    $("#toggle").on("click", "#<%=member.id%>", function() {
        
                        $("#result2").html("<img src='<%=member.image%>'><p>이름 : <%=member.name%></p><p>학과 : <%=member.major%></p>")
                    })
                    </script>    
                <%end%>
                    </tr>    
                </tbody> 
            </table>
            <div class=" text-center " style="font-size: 30px; float: right; width: 50%; height: 500px; ">
                <p id="result2"> 
            </div>
        
        </div>

    </div>
</div>
<script>
    
    $("#members").css("color", "white")
    //  $("#toggle").children("div").children("#toggle-item").toggle()
    

     $("#toggle").on("click", "#toggle-form", function() { 
		 $(this).parent().children("#toggle-item").fadeToggle(400)
	 })
</script>
