<script type='module'>
 var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        direction: 'vertical',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 0,
        mousewheelControl: true,
        parallax: true,
        speed: 600,
    });
</script>

<div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide result-1">
                <div class="contentfont" style="color: black">
                    <p>우리가 직접 만든</p>
                    <p>결과물을 구경하세요</p>
                </div>
                <div class="resultarrow ">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <%= image_tag "black_scroll_down.png",class: 'imgsize' %>
                </div>
            </div>
            <div class="swiper-slide result-2">
                <div class="mlr-10 fontset d-flex justify-content-between">
                    <div class="mr-5">
                        <%= image_tag "https://picsum.photos/600/300" %>
                        <%= image_tag "https://picsum.photos/600/299" %>

                    </div>
                    <div>
                        <h1 style="font-size: 60px;">첫번째 결과물 설명</h1><br>
                        <div style="font-size: 20px;">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur temporaLorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur temporaLorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora</p>
                            <br><br><br><br>
                            <p class="text-right"><%= image_tag "black_scroll_down.png",class: 'imgsize' %></p>

                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="swiper-slide result-3">
                <div class="mlr-10 fontset d-flex justify-content-between">
                    <div class="mr-5">
                        <%= image_tag "https://picsum.photos/600/301" %>
                        <%= image_tag "https://picsum.photos/601/300" %>

                    </div>
                    <div>
                        <h1 style="font-size: 60px">두번째 결과물 설명</h1><br>
                        <div style="font-size: 20px;">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur temporaLorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur temporaLorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora</p>
                            <br><br><br><br>
                            <p class="text-right"><%= image_tag "black_scroll_down.png",class: 'imgsize' %></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide result-4">
                <div class="mlr-10 fontset d-flex justify-content-between">
                    <div class="mr-5">
                        <%= image_tag "https://picsum.photos/599/300" %>
                        <%= image_tag "https://picsum.photos/599/301" %>

                    </div>
                    <div>
                        <h1 style="font-size: 60px">세번째 결과물 설명</h1><br>
                        <div style="font-size: 20px;">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur temporaLorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur temporaLorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        
</div>
<script>
    $("#achivements").css("color", "rgb(124,0,26")
</script>