<!--

<script type='module'>
 var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        direction: 'vertical',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 0,
        mousewheelControl: true,
        parallax: true,
        speed: 600,
    });
</script>

<div class="container col-12">
    <%= image_tag "https://picsum.photos/600/300" %>
</div>
<div class="container col-12">
    <%= image_tag "https://picsum.photos/600/301" %>
</div>
<div class="container col-12">
    <%= image_tag "https://picsum.photos/600/302" %>
</div>
<div class="container col-12">
    <%= image_tag "https://picsum.photos/600/303" %>
</div>

 <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide result-bg">
                <div class="contentfont" style="color: black">
                    <p>우리가 직접 만든</p>
                    <p>결과물을 구경하세요</p>
                </div>
                <div class="resultarrow ">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <%= image_tag "black_scroll_down.png",class: 'imgsize' %>
                </div>
            </div>
            <div class="swiper-slide result-bg">
                <div class="mlr-10 fontset d-flex justify-content-between">
                    <div class="mr-5">
                        <%= image_tag "https://picsum.photos/600/300" %>
                        <%= image_tag "https://picsum.photos/600/299" %>

                    </div>
                    <div>
                        <h1 style="font-size: 60px;">첫번째 결과물 설명</h1><br>
                        <div style="font-size: 20px;">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur temporaLorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur temporaLorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora</p>
                            <br><br><br><br>
                            <p class="text-right"><%= image_tag "black_scroll_down.png",class: 'imgsize' %></p>

                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="swiper-slide result-bg">
                <div class="mlr-10 fontset d-flex justify-content-between">
                    <div class="mr-5">
                        <%= image_tag "https://picsum.photos/600/301" %>
                        <%= image_tag "https://picsum.photos/601/300" %>

                    </div>
                    <div>
                        <h1 style="font-size: 60px">두번째 결과물 설명</h1><br>
                        <div style="font-size: 20px;">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur temporaLorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur temporaLorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora</p>
                            <br><br><br><br>
                            <p class="text-right"><%= image_tag "black_scroll_down.png",class: 'imgsize' %></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide result-bg">
                <div class="mlr-10 fontset d-flex justify-content-between">
                    <div class="mr-5">
                        <%= image_tag "https://picsum.photos/599/300" %>
                        <%= image_tag "https://picsum.photos/599/301" %>

                    </div>
                    <div>
                        <h1 style="font-size: 60px">세번째 결과물 설명</h1><br>
                        <div style="font-size: 20px;">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur temporaLorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur temporaLorem, ipsum dolor sit amet consectetur adipisicing elit. Quae asperiores eligendi voluptatum quibusdam atque ipsa impedit quisquam aut? Totam debitis voluptatibus, odit repudiandae quidem omnis illum sit adipisci consectetur tempora</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        
</div> 
<script>
    $("#achivements").css("color", "rgb(124,0,26")
</script> -->


<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>


<h1 class="contentfont" style="color: black">우리의 결과물</h1>

        <ul id="images">
            <li>
                <div class="container cont">
                <%= image_tag "https://picsum.photos/600/299" %>
                <p class="contentfont2">Project 셀러드</p>
               </div>
            </li>
            <li>                
                <div class="container cont">
                <%= image_tag "https://picsum.photos/600/300" %>
                <p class="contentfont2">Project 투약</p>
               </div>
            </li>
            <li>
                <div class="container cont">
                <%= image_tag "https://picsum.photos/600/301" %>
                <p class="contentfont2">Project 헬푸</p>
               </div>
            </li>
            <li>
                <div class="container cont">
                <%= image_tag "https://picsum.photos/600/302" %>
                <p class="contentfont2">Project Seducation</p>
               </div>
            </li>
            <li>
                <div class="container cont">
                <%= image_tag "https://picsum.photos/600/303" %>
                <p class="contentfont2">Project 참교육</p>
               </div>
            </li>
        </ul>


<script>
(function($){

    $.fn.endlessScroll = function(options) {
  
      var defaults = {
        bottomPixels: 50,
        fireOnce: true,
        fireDelay: 150,
        loader: "<br />Loading...<br />",
        data: "",
        insertAfter: "div:last",
        resetCounter: function() { return false; },
        callback: function() { return true; },
        ceaseFire: function() { return false; }
      };
  
      var options = $.extend({}, defaults, options);
  
      var firing       = true;
      var fired        = false;
      var fireSequence = 0;
  
      if (options.ceaseFire.apply(this) === true) {
        firing = false;
      }
  
      if (firing === true) {
        $(this).scroll(function() {
          if (options.ceaseFire.apply(this) === true) {
            firing = false;
            return; // Scroll will still get called, but nothing will happen
          }
  
          if (this == document || this == window) {
            var is_scrollable = $(document).height() - $(window).height() <= $(window).scrollTop() + options.bottomPixels;
          } else {
            // calculates the actual height of the scrolling container
            var inner_wrap = $(".endless_scroll_inner_wrap", this);
            if (inner_wrap.length == 0) {
              inner_wrap = $(this).wrapInner("<div class=\"endless_scroll_inner_wrap\" />").find(".endless_scroll_inner_wrap");
            }
            var is_scrollable = inner_wrap.length > 0 &&
              (inner_wrap.height() - $(this).height() <= $(this).scrollTop() + options.bottomPixels);
          }
  
          if (is_scrollable && (options.fireOnce == false || (options.fireOnce == true && fired != true))) {
            if (options.resetCounter.apply(this) === true) fireSequence = 0;
  
            fired = true;
            fireSequence++;
  
            $(options.insertAfter).after("<div id=\"endless_scroll_loader\">" + options.loader + "</div>");
  
            data = typeof options.data == 'function' ? options.data.apply(this, [fireSequence]) : options.data;
  
            if (data !== false) {
              $(options.insertAfter).after("<div id=\"endless_scroll_data\">" + data + "</div>");
              $("div#endless_scroll_data").hide().fadeIn();
              $("div#endless_scroll_data").removeAttr("id");
  
              options.callback.apply(this, [fireSequence]);
  
              if (options.fireDelay !== false || options.fireDelay !== 0) {
                $("body").after("<div id=\"endless_scroll_marker\"></div>");
                // slight delay for preventing event firing twice
                $("div#endless_scroll_marker").fadeTo(options.fireDelay, 1, function() {
                  $(this).remove();
                  fired = false;
                });
              }
              else {
                fired = false;
              }
            }
  
            $("div#endless_scroll_loader").remove();
          }
        });
      }
    };
  
  })(jQuery);

$(document).ready(function() {
	$(window).endlessScroll({
		inflowPixels: 300,
		callback: function() {
			var $image_tag = $('#images li:nth-last-child(5)').clone();
			$('#images').append($image_tag);
		}
	});
});
</script>

<style>
body {
    margin-top: 5rem;
    background-color: #F0F0F0;
    font-family: 'Liberation Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

#images {
    margin: 5rem auto;
    padding: 0;
    width: 640px;
    height: 500px;
    list-style-type: none;
}

img {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
</style>