<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form group' style='margin-top:30px;'>
    <%= f.label :제목, class:'show' %>
    <%= f.text_field :title, class: 'form-control show', style:'margin-top: 10px' %>
  </div>

  

  <div class="field">
    <%= f.label :내용 %>
    <%= tinymce :language => "en" %>
    <%= f.text_area :content, id: :post_content, class: "form-control tinymce", rows: "10" %>
</div>


  <div class='form group' style='margin-top:15px;'>
    <%= f.check_box :notice %>
    <%= f.label :공지, class:'show', style:'font-size:15px;' %>
  </div>


  <%= f.submit '작성', :class => 'buttonstyle', :style => 'margin-top: 30px' %>

<% end %>