<div class="container">
<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table">
  <thead>
    <tr>
      <th id="title">Title</th>
      <th>username</th>
      <th colspan="2"></th>
    </tr>
  </thead>



  <tbody>
  
    <% @posts.each do |post| %>
      <% if post.notice == true %>
        <tr>
          <th><%= link_to post.title, post %></th>
          <th><%= post.user.name %></th>
          <th><%= link_to 'Edit', edit_post_path(post) %></th>
          <th><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></th>
        </tr>
      <% end %>
    <% end %>

    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= post.user.name%>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>


<br>

<%= link_to 'New Post', new_post_path %>
<%= link_to('로그아웃', destroy_user_session_path, method: :delete) %>
</div>
<script>
  ${title} =
</script>
